* {
	margin:0;
	padding: 0;
}
body, html{
	margin: 0;
	padding:0;
	background-image: none;
}
.logo{
	width:100px;
	height:40%;
	font-size: 1.4vmax;
}
#indexmobile{
	display:grid;
	grid-template-rows: repeat(2,1fr);
	width:220px;
	height:110px;
	background-color: ;
	float:right;
	margin-top:-30%;
	margin-bottom: 20%;
}
#logofon{
	width:100%;
	margin:0;
	font-size: 2vmax;
	height: 100%;
}
#logofon img{
	width: 60%;
	height: 50%;
	margin-top:25%;
	margin-left:30%;	
}
#logofon p{
	font-size: 2vmax;
}
.navigation{
	display:block;
	margin-bottom:15%;
	height:6vh;
	width:100%;
}
.navigation img{
	height:6vh;
}
#menubuttonmobilni{
	display:block;
	width:8%;
	height: 80%;
	float:right;
	margin-top:1%;
	margin-right:4%;
}
#welcome{
	display: grid;
	width:80%;	
	word-wrap: break-word;
	font-size:2.3vmax;
	font-family: sans-serif;
	text-align: center;
	padding-top:3%;
}
.fejs img{
	height:3vh;
	width: 100%;
}
.fejs a{
	margin-top:15%;
	width:30%;
}
.fejs a:last-child{
	margin-left:40%;
}
nav{
display:none;
}
.indexslika{
	display:none;
}
.slicice{
	display:none;
}
#indexopis
{
	width:80%;
	color:black;
	margin-left:auto;
	margin-right: auto;
}
.slicice2{
	display:grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: 25% 75%;
	width:60%;
	margin-left:auto;
	margin-right: auto;
	font-size:2vmax;
	text-align: left;
	position: relative;
	margin-bottom: 10%;
}
.slicice2 div{
	width:100%;
	height:90%;
	margin-top:10%;
	margin-bottom: 15%;
}
.slicice2 img{
	width:80%;
	height:70%;
}
#mapindexmobilni{
	display:block;
	height:60vh;
	width:100%;
}
.parent{
	width: 80%;
	height: 60vh;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 10%;
}
#indexabout p{
	margin-top:50%;
	line-height: 40px;
	font-size: 2vmax;
	position: absolute;
	width:40%;
	margin-left:20%;
	height: 40px;
}
#indexabout:hover
{
     transform: none;
}
#aboutonama p{
	width:50%;
	height:50px;
	line-height: 50px;
	margin-top:50%;
	margin-left:25%;
}
.gridonama{
	display:grid;
	width:80%;
	margin-left:10%;
	height:30vh;
	background-color: white;
}
.gridonama div{
	width:100%;
	height:100%;
}
.gridonama img{
	height:80%;
}
.gridonama p{
	font-size: 2vmax;
}
#onamaabout{
	width:50%;
	height:30vh;
	margin-left:auto;
	margin-right: auto;
	margin-top:10%;
	margin-bottom: 10%;
}
#ispod{
	margin:0%;
}
#aboutvidljivi{
	margin-top: 20%;
	margin-bottom: 20%;
	width:80%;
	height:40vh;
	font-size:2vmax;
	display:block;
	color:black;
}





							/******MENUNAVBUTON*******/
#menunavopen{
	position: absolute;
	display:none;
	grid-template-rows: 10% 90%;
	width:100%;
	height:100%;
	background-color: white;
	z-index: 10;
}
#navmenu {
	display:grid;
	grid-template-rows: repeat(4,1fr);
	color:black;
	height:200px;
	margin-top:10%;
	width:100%;
	border-top:1px solid black;
}
#navmenu a{
	text-decoration: none;
	color:black;
	padding-left:10%;
	height:50px;
	line-height: 50px;
}
.logomenunav{
	display: block;
	width:50%;
	height: 80%;
	text-align: center;
	margin:0;
	font-size: 2vmax;
}
.logomenunav img{
	width: 100%;
	height: 100%;
}
#navigationmobile{
	width:95%;
	display:grid;
	grid-template-columns: 90% 10%;
	margin-left:auto;
	margin-right: auto;
}
#close {
	width:100%;
	height:20%;
	margin-top:80%;
}
									/**********FORMA*********/
#button{
	background-color:black;
	opacity:0.9;
	color:white;
	font-size: 2.4vmax;
	width:97%;
	height:8%;
	border-radius: 9px;
	cursor:pointer;
	box-shadow: 0px 0px 5px 0.2px inset  white;
}
.contactform{
	width:80%;
	height: 80vh;
	margin-left:auto;
	margin-right: auto;
	margin-top:7%;
	color:white;
}
.contactform h2{
	text-align: left;
	height: 10%;
	font-size: 2vmax;
	color:white;
	font-weight: normal;
}

.contactform textarea{
	height: 30%;
	width:95.222%;
	font-size: 2vmax;
	max-width:95.222%;
	max-height: 40%;
	min-width: 95.222%;
	min-height: 20%;
	border:1px solid black;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius:7px;
	color:white;
}
.praznopolje{
	width:90%;
	height:50%;
	font-size: 2vmax;
	border:none;
	border-bottom: 1px solid black;
	background-color:rgba(255, 255, 255, 0.3);
	color:black;
	border-radius:7px;
}
::placeholder {
	color:grey;
	padding-left:2%;
	padding-top:1%;
}

#forma{
	display:grid;
	grid-template-rows: repeat(4,1fr);
	grid-template-columns: repeat(1,1fr);
	width:100%;
	height: 30%;	
	color:white;

}







						/*********KATALOG******/
.katalog{
	display:grid;
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: none;
	margin-bottom:40%;
}
#katalogostalisakrij{
	display:none;
}
#sakrij{
	display:none;
}
header{
	background-image:/*linear-gradient(to left, rgba(0,0,0,0),rgba(244, 103, 23, 0.7)),*/ url('images/katalog.jpg');
	background-size: 100% 100%;
	width:100%;
	height: 300px;
	position: relative;
	z-index: 5;
}
#nav{
	display:block;
	background-color: #f46717;
	width:40%;
	height:200px;
	margin:0;
	float:left;
	margin-top:5%;
	margin-left:5%;
}
#nav a{
	width:100%;
	height:50px;
	text-align: left;
	display:block;
}
#nav ul{
	height:100%;
	width: 100%;

}
#nav li{
	width: 80%;
	height:50px;
	font-size: 2vmax;
	line-height: 50px;
	display:block;
	padding-left:20%;
}
.flex{
	width:80%;
	display:grid;
	grid-template-columns: repeat(1,1fr);
}
.flex div:hover{
	transform: none;
}
.podelakatalog{
	height:20vh;
}
.podelakatalog img{
	height:100%;
	width:100%;
}
.podelakatalog h1{
	width:80%;
	height:25px;
	font-size: 1.8vmax;
	line-height: 25px;
	background-color: #f46717;
	margin-left:auto;
	margin-right:auto;
	border-radius: 10px;
	color:white;
}
.kinezikatalog{
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.kinezikatalog div{
	width:80%;
}
.kinezikatalog img{
	height:15vh;
	width:100%;
}
.kinezikatalog img:hover{
	transform: none;
	transition-duration: 100ms;
	
}
.traka{
	height:5vh;
	line-height: 5vh;
	font-size: 1.8vmax;
}
#husmobilnikatalog{
	background-color: #161965;
}






									/********FOOTER********/
.gridfootercontact{
	background-color: black;
	width:50%;
	height: 80%;	
	display:grid;
	grid-template-rows: repeat(4,1fr);
	grid-template-columns: 20% 80%;
	font-size: 2vmax;
	border-radius:10%;
	margin-left:auto;
	margin-right: auto;

	
}
.gridfootercontact div{
	text-align:left;
	width:100%;

}
.gridfootercontact a{
	text-decoration: none;
	color:white;

}
.gridfootercontact p{
	margin-top:6%;
	margin-left:3%;
}
.gridfootercontact img{
	width:80%;
	height:70%;
	border-radius:100%;
}
.gridfooterlogo{
	width:80%;
	height:50%;
	margin-left:auto;
	margin-right: auto;
	margin-top:10%;
}

.gridfooterlogo img{
	width:80%;
	height:50%;
}
.gridfooterlogo p{
	margin-top:-8%;
	font-size: 1.8vmax;
	word-spacing: 1px;
}
.gridfooterlogo p:first-line{
	margin-top:-8%;
	font-size: 2vmax;
}
.gridfooternav{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display:grid;
	grid-template-rows: repeat(2,1fr);
	height:30%;
	background-color: black;
	margin-top:16%;
	font-size: 2vmax;
	
}
.gridfooternav div{
	height:40%;
	width:100%;
}
.gridfooternav p{
margin-left:8%;
text-align:left;
margin-top:3%;
font-size: 1.8vmax;
width:100%;

}
.gridfooternav a{
	text-decoration: none;
	color:white;
}
.gridfooternav p:hover{
	
	box-shadow: var(--shadow);
	padding-left:10px;
	transition:ease-in-out 400ms;
	color:var(--etc);
	cursor:pointer;
	
}
.gridfooternav h2{
	font-size: 2vmax;
	margin-left:7%;
	text-align: left;
}
#footernav{
	margin-top:5%;
}
.radnovremeipartneri{
	margin-bottom: 0;
	width:80%;
	height:80%;
	margin-left:auto;
	margin-right: auto;
	margin-top:0;
	display:grid;
	grid-template-rows:repeat(2,50%); 
}
#radnovreme{
	width:100%;
	height: 100%;
	font-size: 2vmax;
	margin-top:0;
	margin-left:auto;
	margin-right: auto;
}
#radnovreme div{
	margin-top:3%;
}
.gridfooterslike{
	margin-left:auto;
	margin-right: auto;
	margin-top:1;
	font-size: 1.8vmax;
	height: 100%;
}
.footerslikerows{
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
}

footer{
	display:grid;
	grid-template-rows: repeat(4,0.5fr);
	grid-template-columns: repeat(1,1fr);
	word-spacing: 7px;
	background-color:black; 
	color:white;	
	font-size: 1.6vmax;
	text-align: center;
	width:100%;
	height: 100%;
}															