.trakalevo {
	width: 100%;
	border-bottom: 1px solid darkorange;
	float:left;
	height: 50%;
}
.trakadesno{
	width:100%;
	border-bottom:1px solid darkorange;
	float:right;
	height: 50%;
}
#naziv{
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.8vmax;
	width: 100%;
}
#tt{
		grid-template-columns: 45% 10% 45%;

}
#tk {
		grid-template-columns: 44.2% 11.6% 44.2%;

}
#tou{
		grid-template-columns: 41.2% 18% 41.2%;

}
#tu{
		grid-template-columns: 46.5% 7% 46.5%;

}
#tz{
		grid-template-columns: 45% 10% 45%;

}
.imekatalog {
	width:100%;
	display: grid;
	grid-template-columns: 40% 20% 40%;
	text-align: center;
	font-family: monospace;

}

